server/src/main/java/by/bsuir/xsdSchemas/xsdSchemaPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="class">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="firstName"/>
                            <xs:element type="xs:string" name="lastName"/>
                            <xs:element type="xs:string" name="email"/>
                            <xs:element type="xs:long" name="phoneNumber"/>
                            <xs:element name="infoAboutWork">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="company"/>
                                        <xs:element type="xs:string" name="position"/>
                                        <xs:element type="xs:long" name="experience"/>
                                        <xs:element type="xs:long" name="salary"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>